.objectsPreview {
  padding: 36px 36px 34px;
  background-color: var(--tiles);
}

.timeBars {
  display: flex;
  position: absolute;
  top: 6px;
  right: 28px;
  left: 28px;
  color: var(--timebar-text);
}

.timeBarA {
  background: var(--timebar-remaining);
  flex: 0 0 350px;
}

.timeBarB {
  background: var(--timebar-hardcore);
  flex: 0 0 70px;
}

.timeBarC {
  background: var(--timebar-empty);
  flex: 1
}

.objects {
  position: relative;
  width: 100%;
  height: 484px;
  background-color: var(--background);
  outline: 2px solid var(--outline); /* outline doesnt take up space */
}

.lowerText > * {
  position: absolute;
  font-size: 27px;
  color: var(--level-name);
}

.levelID {
  bottom: 5px;
  left: 60px;
}


.challenges {
  bottom: 5px;
  left: 320px;
  color: var(--challenges);
}

.title {
  bottom: 5px;
  right: 60px;
}

.brackets {
  color: var(--challenge-complete);
}
