.field {
  position: relative;
  display: flex;
  align-items: center;
  padding: 4px;
  background-color: #00000030;
  list-style-type: none;
}

.fieldActive:before {
  content: "";
  position: absolute;
  top: calc(50% - 16px);
  left: -28px;
  width: 0;
  height: 0;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  border-left: 22px solid currentColor;
}

.fieldSpaced {
  margin-top: 8px;
}

.input {
  position: relative;
  display: flex;
  width: 108px;
  padding: 11px 15px 10px;
  margin-right: 12px;
  border: none;
  font-family: 'Courier New';
  font-size: 20px;
  letter-spacing: 1px;
}

.input:focus {
  outline: none;
}

.text {
  display: block;
  margin-bottom: 10px;
  white-space: pre-line;
}

.text span {
  margin-right: 5px;
  color: gray;
  cursor: pointer;
}

.text span:hover {
  color: orange;
}
