.field {
  position: relative;
  display: flex;
  align-items: flex-start;
  margin-bottom: 7px;
  list-style-type: none;
  /* border-left: 10px solid transparent; */
}

.fieldActive {
  background-color: #FFFFFF15;
}

/* .fieldActive:before {
  content: "";
  position: absolute;
  top: 0;
  left: -22px;
  width: 22px;
  height: 44px;
  background-color: white;
  border-top-left-radius: 22px;
  border-bottom-left-radius: 22px;
} */

.input {
  position: relative;
  display: flex;
  width: 108px;
  padding: 11px 15px 10px;
  margin-right: 12px;
  border: none;
  /* border-radius: 10px; */
  font-family: 'Courier New';
  font-size: 20px;
  letter-spacing: 1px;
  /* border-left: 10px solid transparent; */
}

.input:focus {
  outline: none;
}

.picker {
  position: absolute !important;
  display: none !important;
  width: 300px !important;
  height: 230px !important;
  top: calc(50% + 25px);
  z-index: 1;
}
.field:focus-within .picker,
.picker:hover {
  display: flex !important;
}

.text {
  display: block;
  margin-bottom: 10px;
  white-space: pre-line;
}

.text span {
  margin-right: 5px;
  color: gray;
  cursor: pointer;
}

.text span:hover {
  /* text-decoration: underline; */
  color: orange;
}
