.previews {
  position: relative;
  width: calc(100% + 72px);
  margin-left: -36px;
  user-select: none;

  font-family: Sys;
  line-height: 1;
  white-space: pre;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.previewButtons {
  margin-left: -36px;
}

.previewButton {
  display: inline-block;
  padding: 14px 16px 16px;
  border: none;
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
  cursor: pointer;
}
.previewButton:hover {
  background-color: #FFFFFF10;
}

.previewButtonActive,
.previewButtonActive:hover {
  background-color: #FFFFFF15;
}

.rowOne {
  display: flex;
  flex-wrap: wrap;
  margin-top: 36px;
}

.picker {
  width: 300px !important;
  height: 260px !important;
}

.sectionList {
  width: 100%;
  display: flex;
  margin-left: -20px;
}

.sectionItem {
  list-style-type: none;
  padding: 12px 20px;
  cursor: pointer;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }

  span {
    display: inline-block;
    padding-bottom: 2px;
    border-bottom: 2px solid transparent;
  }
}
.sectionItem__active span {
  border-bottom-color: white;
}

.itemList {
  flex: 1;
  color: #bbb;
}

.itemItem {
  list-style-type: none;

  span {
    cursor: pointer;

    &:hover {
      color: white;
    }
  }
}
.itemItem__active {
  color: white;

  span {
    &:before {
      content: "";
      display: inline-block;
      height: 12px;
      width: 2px;
      background-color: white;
      margin-right: 4px;
      margin-bottom: -1px;
    }
  }
}

.fields {
  flex: 1 1 0;
  padding-left: 44px;
}

.fieldsTitle {
  font-size: 24px;
  line-height: 1;
}

.swatches {
  flex: 1;
}
