.previews {
  position: relative;
  width: calc(100% + 72px);
  margin-left: -36px;
  user-select: none;
  font-family: Sys;
  line-height: 1;
  white-space: pre;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.previewButtons {
  margin-left: -36px;
}

.previewButton {
  display: inline-block;
  padding: 14px 16px 16px;
  border: none;
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
  cursor: pointer;
}
.previewButton:hover {
  background-color: #FFFFFF10;
}

.previewButtonActive,
.previewButtonActive:hover {
  background-color: #FFFFFF15;
}

.rowOne {
  display: flex;
  flex-wrap: wrap;
  margin-top: 36px;
}

.picker {
  width: 300px !important;
  height: 260px !important;
}

.importExport {
  margin-top: 60px;
}

.upload {
  display: block;
  margin-top: 4px;
  font-size: 16px;
}

.upload::file-selector-button {
  margin-right: 10px;
}

.upload::file-selector-button,
.download {
  font-size: 18px;
  padding: 16px 16px 14px;
  cursor: pointer;
}

.download{
  margin-top: 20px;
}

.fields {
  flex: 1 1 0;
  padding-left: 44px;
}

.fieldsTitle {
  font-size: 24px;
  line-height: 1;
}
