.createPage {
  width: 1216px;
  margin: 0 auto 60px;

  @media (width >= 1650px) {
    width: 1616px;
  }
}

.previews {
  position: relative;
  width: 1216px;
  margin: 0 auto;
  user-select: none;
  font-family: Sys;
  line-height: 1;
  white-space: pre;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.previewButtons {
  display: flex;
  background-color: #131313;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.previewButton {
  flex: 1;
}

.previewButtonActive {
  background-color: #373737;
}

.interface {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 28px;
}

.columnA,
.columnB {
  display: flex;
  flex-direction: column;
  width: 360px;
  margin-right: 28px;

  > div:not(:last-child) {
    margin-bottom: 20px;
  }
}

.columnB {
  display: none;
}
.interfaceExpanded .columnB {
  @media (width >= 1650px) {
    display: flex;
  }
}

.interfaceExpanded .imagePicker {
  order: -1;
}

.interfaceExpanded .columnA .menuGenerator,
.interfaceExpanded .columnA .gradientContainer {
  @media (width >= 1650px) {
    display: none;
  }
}

.gradientPicker {
  width: 100% !important;
  height: 300px !important;

  :global(.react-colorful__saturation) {
    border-radius: 0;
  }

  :global(.react-colorful__hue) {
    border-radius: 0;
  }
}

.menuGenerator {
  background-color: #131313;
}

.menuGeneratorInstructions {
  display: block;
  padding: 14px 20px 6px;
  font-style: italic;
}

.generate {
  width: 100%;
  margin-top: 4px;
}

.import,
.export {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  background: #131313;
}

.import {
  padding: 14px 20px 20px;;
}

.importInstructions {
  margin-bottom: 2px;
  font-style: italic;
}

.upload {
  display: block;
  margin-top: 4px;
  font-size: 16px;
}

.upload::file-selector-button {
  margin-right: 10px;
}

.upload::file-selector-button,
.download {
  font-size: 18px;
  padding: 16px 16px 14px;
  cursor: pointer;
}

.namer {
  margin: 16px auto 6px;
  padding: 8px;
  text-align: center;
  font-family: 'Courier New';
  font-size: 18px;
}

.download{
  width: 100%;
}

.fields {
  flex: 0 0 828px;
  padding: 0 28px 20px;
  background-color: #131313;
}

.fieldsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  font-size: 24px;
  line-height: 1;
}

.undoRedo {
  display: flex;
}

.undoRedo button {
  width: 48px;
  height: 48px;
  padding: 0;
  color: #191919;
}
.undoRedo button:not(.active) {
  background: none;
  cursor: default;
}
.undoRedo button.active {
  color: inherit;
}

